/*header*/

.header {
  padding: 92px 50px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__menu {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
}

.header__link {
  font-size: 18px;
  line-height: 21.13px;
  letter-spacing: 0.01em;
}

.header__links-list {
  display: flex;
  align-items: center;
  gap: 31px;
}

.header__links-list-item {
  text-underline-offset: 4px;
  list-style: circle;
}

.header__links-list-item_no-bullet  {
  list-style: none;
}

.header__address {
  font-size: 19px;
  font-style: normal;
  line-height: 24.3px;
  text-underline-offset: 4px;
}

.address {
  justify-self: end;
  align-self: center;
  width: 240px;
}

address {
  all: initial;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
}

/*cover*/

.cover {
  position: relative;
  width: 100%;
  min-height: 757px;
  background-image: url("/images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
 position: absolute;
 inset: 0;
 z-index: 0;
 background-color: rgba(0, 0, 0, 0.6);
}

/* заголовок */

.cover__title {
  z-index: 1;
  display: block;
  padding: 165px 50px 135px 50px;
  color: white;
  font-size: 100px;
  letter-spacing: 0.3em;
}

.aligned-text {
  display: block;
  text-align: left;
}

.aligned-text_center {
  line-height: 1.35;
  text-align: center;
}

.aligned-text_right {
  line-height: 1;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em; 
} 

.no-letter-spacing { 
  letter-spacing: 0em; 
}

/* подзаголовок и кнопка */

.cover__description {
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  padding-left: 78px;
}

.cover__description-text {
  align-self: center;
  color: #fff;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 20px;
}

.bet-button {
  border: solid;
  border-width: thin;
  padding: 12px 32px;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  line-height: 25.83px;
  text-transform: uppercase;
  background-color: transparent;
}

/*карточки секция*/

.lots {
  margin-top: 179px;
  padding: 0 24px;
}

.lots__heading {
  padding-left: 40px;
  font-size: 40px;
  line-height: 46.96px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 27px;
  padding-bottom: 30px;
  list-style: none;
}

.lots__card-list-item {
  position: relative;
  width: 334px;
  height: 563px;
}

.card-link {
  text-decoration: none;
  text-underline-offset: 3px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card_type_film {
  background-image: url("/images/card-lot-01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background-image: url("/images/card-lot-02.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background-image: url("/images/card-lot-03.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card__title {
  z-index: 1;
  padding: 51px 40px 0px 40px;
  color: #fff;
  font-size: 22px;
  line-height: 26.4px;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
}

.lots__look-more-link {
  margin-left: 40px;
  font-size: 20px;
  line-height: 23.48px;
  text-underline-offset: 5px;
}

/*Секция об аукционе */

.about__column {
  display: grid;
  grid-template-columns: 359px 2fr;
  grid-template-rows: 283px 1fr;
  justify-items: center;
  align-items: center;
  margin-top: 146px;
  padding: 0 24px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  grid-column: 2/4;
  justify-self: start;
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  grid-column: 2/4;
  gap: 24px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

/* footer*/

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 180px;
  padding: 0 50px 88px 50px;
}

.footer .address {
  justify-self: start;
}

.footer__address {
  font-size: 18px;
  line-height: 24.3px;
  text-underline-offset: 4px;
}

.footer__menu {
  display: flex;
  justify-content: center;
  align-items: start;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-link {
  font-size: 18px;
  line-height: 21.13px;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__menu-list-item {
  display: flex;
  justify-content: center;
}

.footer__social-list {
  display: flex;
  justify-content: end;
  align-items: start;
  gap: 48px;
}

.footer__social-icon {
  width: 48px;
}